@import "../reindeer/reindeer.scss";

.myThemes{
	@include reindeer;

	.mapPanel{
		height: 47em;
	}
	
	.alma{
		background-color:red;
		width: 25px;
	}
	
	.notVisible{
		display:none;
	}
	
	.logo{
		text-align:center;
		height: 3em;
		background: url("logo.jpg") no-repeat;
		 background-size: 25em 3em;
	}
	
	.topGrid{
		background-color:#5CAD85;
		height: 0.8em;
		-webkit-box-shadow: 1px 8px 23px 6px rgba(0,0,0,0.31);
		-moz-box-shadow: 1px 8px 23px 6px rgba(0,0,0,0.31);
		box-shadow: 1px 8px 23px 6px rgba(0,0,0,0.31);
	}
	.mainColor{
		background-color: #F5E0CB;
	}
	.v-scrollable{
		background-color: #F5E0CB;
	}
	
	.textFieldColor{
		background-color:#FFFFDB;
	}
	.textFieldColor:focus{
		background-color:#FFFFDB;
	}
	.comboBoxColor{
		background:#FFFFDB;
	}
	
	.logButton{
		border-width:0px;	
    	border-style:none;
	}
	
	.v-accordion{
		background-color:#5CAD85;
	}
	.v-accordion-item{
		background-color:#5CAD85;
	}
	
	.v-accordion-item-caption{
		background-color:#5CAD85;
	}
	
	
	.v-accordion-item-caption .v-caption {
		background-color:#5CAD85;
		text-align:center;
	}
	
	.v-accordion-item-caption .v-caption .v-captiontext {
		color: white;
		font-size:1.3em;
		text-shadow: 2px 2px 6px #000000;
		text-align:center;
	}
	
	.green{
		background-color:#5CAD85;
	}
	
	.accTab{
		background-color: #F5E0CB;
		-webkit-box-shadow: inset 0px 10px 24px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 10px 24px -9px rgba(0,0,0,0.75);
		box-shadow: inset 0px 10px 24px -9px rgba(0,0,0,0.75);
	}
	


	.v-window-outerheader {
		background-color:#5CAD85;
		background-image:none;
		background:#5CAD85;
	}
	.v-window-header{
		background-color:#5CAD85;
	}
	.v-window-closebox{
		opacity: 0.6;
	}
	
	.subWindow{
		background-color: #F5E0CB;
	}
	    
	    
	    .v-button:focus {
			  background: #e8c8a7;
			  background-image: -webkit-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -moz-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -ms-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -o-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: linear-gradient(to bottom, #e8c8a7, #b89264);
			 -webkit-border-radius: 5;
			  -moz-border-radius: 5;
			  border-radius: 5px;
		    }
		
		.v-button:focus .v-button-wrap {
			  background: #e8c8a7;
			  background-image: -webkit-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -moz-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -ms-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -o-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: linear-gradient(to bottom, #e8c8a7, #b89264);
			 -webkit-border-radius: 5;
			  -moz-border-radius: 5;
			  border-radius: 5px;
		    }
		
		.v-button:active,
		.v-button.v-pressed {
			  background: #e8c8a7;
			  background-image: -webkit-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -moz-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -ms-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -o-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: linear-gradient(to bottom, #e8c8a7, #b89264);
			 -webkit-border-radius: 5;
			  -moz-border-radius: 5;
			  border-radius: 5px;
		    }
		
		.v-button:active .v-button-wrap,
		.v-button.v-pressed .v-button-wrap {
			  background: #e8c8a7;
			  background-image: -webkit-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -moz-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -ms-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -o-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: linear-gradient(to bottom, #e8c8a7, #b89264);
			 -webkit-border-radius: 5;
			  -moz-border-radius: 5;
			  border-radius: 5px;
		    }
		
		.v-button,
		.v-disabled.v-button {
			  background: #e8c8a7;
			  background-image: -webkit-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -moz-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -ms-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -o-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: linear-gradient(to bottom, #e8c8a7, #b89264);
			 -webkit-border-radius: 5;
			  -moz-border-radius: 5;
			  border-radius: 5px;
		    }
		
		.v-button-wrap,
		.v-disabled.v-button .v-button-wrap {
			  background: #e8c8a7;
			  background-image: -webkit-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -moz-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -ms-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: -o-linear-gradient(top, #e8c8a7, #b89264);
			  background-image: linear-gradient(to bottom, #e8c8a7, #b89264);
			 -webkit-border-radius: 5;
			  -moz-border-radius: 5;
			  border-radius: 5px;
		    }
		
		.v-button-caption {
			background-color:none;

		    }
		
		
	

}